

<table class="table table-responsive">
    <tr>
      <th colspan="2">Adobe Systems, www.adobe.com</th>
    </tr>

    <tr>
      <td>September 2012 &ndash; current</td>

      <td>
        <strong>Senior Computer Scientist</strong>, Cloud Technologies LAB, Adobe

        <ul>
          <li>Define Cloud Technology Strategy, coordinate interdisciplinary Teams to
          build future proof Online Experience Platform for Adobe.com</li>

          <li>Research to develop highly secure web applications with faster time to
          market</li>

          <li>Token based authentication and extension for CORS, implemented alternative
          for rapid integration between multiple systems using javascript and cors</li>

          <li>Mobile application development native and using apache cordova /
          phonegap</li>

          <li>Prototypes for responsive and adaptive webdesign toolkits (now part of AEM
          as responsive grid editor)</li>

          <li>Research new AEM / Apache Sling / Rest development framework</li>

          <li>Adobe brackets extension to support atomic webdesign</li>

          <li>Regular speaker on adobe enterprise conferences (2015: AEM going
          supersonic, 2014: Developing with AEM 6, 2013: RESTful transactions, Html
          Template Library)</li>

          <li>Adobe re-imagine initiative, creative cloud and mobile app sdk</li>

          <li>Lead / Software Architecture for Adobe.com</li>

          <li>Product Owner / Scrum Master</li>

          <li>Product Manager</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>January 2007 &ndash; August 2012</td>

      <td>
        <strong>Technical Delivery Manager</strong>, Adobe Professional Services
        Switzerland, Basel and United States, Newport Beach

        <ul>
          <li>Leading complex and large volume implementation projects</li>

          <li>Managing escalations and giving strong guidance to the project team and the
          client</li>

          <li>Possessing the right balance between technology and business/functional
          expertise</li>

          <li>Excellent client interaction skills and ability to manage complex and
          challenging clients and project teams</li>

          <li>Delivering outstanding and sustainable business value and client
          satisfaction</li>

          <li>Attaining client credibility through demonstrable experience with web
          content, digital asset management and overall technologies combined with
          project management</li>

          <li>Delivering on all aspects of project management</li>

          <li>Managing Agile Engineering Teams</li>

          <li>Effectively managing overall project issues; analyzing more complex project
          issues, identifying the possible solution options, and facilitating the
          presentation and review of the options and our recommended solution with the
          client; identifying product issues and collaborating with technical support and
          engineering to drive resolution</li>

          <li>Supporting and working with the sales teams in pursuing opportunities,
          providing consulting expertise, proposals, estimates, etc.</li>

          <li>Mentoring and guiding others on the team, from new hire on-boarding to
          ongoing delivery excellence</li>

          <li>Leading the team in identifying, capturing and distributing knowledge and
          best practices with clients, partners and colleagues via direct
          interaction</li>

          <li>Efficiently multi-tasking, working across multiple client engagements at
          the same time as well as key internal initiatives</li>
        </ul>
      </td>
    </tr>

    <tr>
      <th colspan="2">Hessischer Rundfunk, www.hr-online.de</th>
    </tr>

    <tr>
      <td>May 2002 - December 2006</td>

      <td>
        <strong>Multimedia Software-Engineer</strong>, Multimedia; Research and Strategy
        Germany, Frankfurt am Main

        <ul>
          <li>on-going market analyses and proof of concepts with regard to improve next
          generation cross media and online products</li>

          <li>Technical Lead and pro-active in-house consulting for internal
          communications</li>

          <li>technical lead in developing the pilot of the intranet and responsibility
          for rollout into production (end-user training, HA, support + it maintenance
          concept,..)</li>

          <li>Conception and Development Pilot &ldquo;Online-Greeting Terminals&rdquo; -
          case study for linking radio, online and on-site activities together,
          experiencing user-generated content.</li>

          <li>Development and concept &ldquo;hrPodder&rdquo;, an integrated platform to
          enable radio broadcaster to generated and publish podcasts to
          podcast.hr-online.de (Swing UI, Webdav-Remoting, SOAP). Enabled Hessischer
          Rundfunk to be the first podcaster at ARD, federal broadcasting
          association.</li>

          <li>Technical Coaching Team-Members, Multimedia / Internet Development</li>
        </ul>
      </td>
    </tr>
  </table>
